.navbars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbars2{
    display: flex;
    justify-content: start;
    align-items: center;
}
.lord{
    display: flex;
    align-items: center;
    margin-left: 5px;
}